.header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid $light-gray;
}

.header__col {
  display: flex;

  .logo {
    margin-right: 20px;
  }
}

.input__block {
  position: relative;
  left: -150px;

  .header__input {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid $light-gray;

    img {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

.header__text {
  font-weight: 400;
  font-size: 14px;
  color: $light-gray;
}

.header__btn {
  display: flex;
  align-items: center;
  background-color: $orange;
  padding: 15px 20px;
  border-radius: 40px;
  font-weight: 700;
  gap: 15px;
  color: white;
}

.header__cart {
  display: flex;
  align-items: center;
  position: relative;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.header__btn-line {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 1px;
  height: 30px;
  background-color: white;
  opacity: 0.3;
}
